main {
  display: block;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height}
    $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  // So scrollbars don't push over content
  overflow: scroll;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $spacing-unit;
}
// TODO: Vertical spacing is weird because row adds 15px below itself. How to fix?

// IMAGES ------------------------------

img {
  max-width: 100%;
  vertical-align: middle;
}

img,
.btn,
.rounded {
  border-radius: $corner-radius;
}

.btn,
.raised {
  border-radius: $corner-radius;
  box-shadow: 0 5px 10px transparentize($background-color-dark, 0.5);
}

// CAPTIONS ------------------------------

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

// TEXT ------------------------------

ul,
ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1,
h2,
h3 {
  font-weight: $base-font-weight;
}

h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: $bold-font-weight;
  letter-spacing: 0.2rem;
}

// BUTTONS ------------------------------

a:not(.btn) {
  &:not(.page-link) {
    color: $brand-color;

    &:visited {
      color: darken($brand-color, 15%);
    }
  }

  text-decoration: none;

  &:hover {
    text-decoration: underline wavy;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

p:has(.btn) {
  &:has(> .btn) {
    margin-bottom: $spacing-unit / 2;
  }
}

.btn {
  text-decoration: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  max-width: 100%;
  box-sizing: border-box;
  line-height: 1.1;
  border: $border-width solid $brand-color;
  background-color: $background-color-light;
  color: $brand-color;
  padding: 15px;
  transition: $transition-time;
  will-change: transform;

  &:hover {
    transform: translateY(-15%);
    box-shadow: 0 10px 35px transparentize($text-color, 0.7);
    background-color: $brand-color;
    color: $background-color;
  }
}

// QUOTES ------------------------------

blockquote {
  color: $text-color;
  border: $border-width solid $background-color-dark;
  background: $background-color-light;
  border-radius: $corner-radius;
  padding: $spacing-unit / 2;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

// CODE ------------------------------

pre,
code {
  @include relative-font-size(0.9375);
  //border: $border-width solid $background-color-dark;
  //border-radius: $corner-radius;
  overflow: hidden;
  //background-color: $background-color-dark;
}

code {
  padding: 1px 5px;
}

pre {
  padding: $spacing-unit $spacing-unit;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;
}

// ICONS ------------------------------

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$text-color};
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}

// TABLE ------------------------------

table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: $border-width solid $background-color-light;

  tr {
    &:nth-child(even) {
      background-color: lighten($background-color-light, 6%);
    }
  }

  th,
  td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }

  th {
    background-color: lighten($background-color-light, 3%);
    border: $border-width solid darken($background-color-light, 4%);
    border-bottom-color: darken($background-color-light, 12%);
  }

  td {
    border: $border-width solid $background-color-light;
  }
}

// SCROLLBAR + HIGHLIGHT ------------------------------

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  border-radius: $corner-radius;
  background: $text-color;
}

::-webkit-scrollbar-thumb:hover {
  background: darken($text-color, 15%);
}

::selection {
  background: $brand-color;
  color: $background-color;
}

::-moz-selection {
  background: $brand-color;
  color: $background-color;
}

%clearfix:after {
  content: "";
  display: table;
  clear: both;
}
