@charset "utf-8";

$base-font-family: "Schibsted Grotesk", Helvetica, sans-serif !default;
$base-font-size: 18px !default;
$base-font-weight: 400 !default;
$bold-font-weight: 700 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;
$corner-radius: 5px !default;
$border-width: 3px !default;

$text-color: #dad9d8 !default;
$background-color: #1e1d1c !default;
$brand-color: #ffc831 !default;

$background-color-dark: darken($background-color, 7%) !default;
$background-color-light: lighten($background-color, 12%) !default;

$table-text-align: left !default;
$content-width: 900px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

$transition-time: 0.1s;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@import "minima/base", "minima/layout", "minima/syntax-highlighting";
